* {
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  color: #000;
  font-size: 14px;
  font-family : "15FAE\8F6F\96c5\9ED1",Helvetica,sans-serif;
  overflow-x: hidden;
}
ul,li {
  list-style: none;
}
a,a:hover,a:active,a:visited,a:target{
  color: #000;
  text-decoration: none;
}
input {
  display: inline-block;
  outline: none;
}
.w50 {
  width: 50px;
}
.w150 {
  width: 150px;
}
.w200 {
  width: 200px;
}
/* index start */
.box {
  margin: 20px auto;
  padding: 20px;
  width: 800px;
  border: 2px solid green;
}
.link {
  display: block;
  margin: 5px 0;
  font-size: 16px;
}
.link:hover{
  color: green;
  text-decoration: underline;
}
.head,.list li {
  height: 35px;
  line-height: 35px;
}
.head{
  background: green;
}
.head span,.list li span  {
  float: left;
  text-align: center;
  font-size: 14px;
}
.head span {
  color: #fff;
  font-weight: bold;
}
/*—-Css3中新增加的选择器: nth-child (even)获取所有的偶数--*/
.list li:nth-child(even) {
  background: #eee;
}
.list li:hover {
  background: #ffeeaa;
}
.control a{
  display: inline-block;
  margin: 0 5px;
}
/* add start */
.box2 {
  width: 500px;
  margin: 30px auto;
  border: 1px solid green;
}
.box2 div {
  margin: 10px;
  height: 32px;
  line-height: 32px;
}
.box2 div span {
  display: inline-block;
  width: 50px;
}
.box2 div input {
  padding: 0 10px;
  width: 380px;
  height: 30px;
  border: 1px solid #DDD;
}
#userName,#userAge {
  width: 190px;
}
.submit {
  margin: 20px auto;
  width: 200px;
  text-align: center;
  color: #fff;
  background: green;
  cursor: pointer;
}
