/*reset*/

* {
	margin: 0;
	padding: 0;
}

input {
	outline: none;
}

ul,
li {
	list-style: none;
}

html,
body {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	bottom: 0;
	overflow-x: hidden;
	-webkit-user-select: none;
}

html {
	width: 100%;
	color:#000;
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
	font-size: 14px;
	overflow-x: hidden;
}
