* {
    padding: 0;
    margin: 0;
}
html,body {
    font-family : "15FAE\8F6F\96c5\9ED1",Helvetica,sans-serif;
    font-style: 14px;
    color: #000;
}
.box {
    margin: 50 auto;
    width: 300px;
    height: 300px;
    background: #e3bd83;
    border: 10px solid #E0f2be;
}