<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>
  <div id="app">
    <cpn>
      <template slot-scope="slot">
        <!-- <span v-for="v in slot.data">
          {{v}} 
        </span> -->
        <span>
          {{slot.data.join(" * ")}} 
        </span>
      </template>
    </cpn>
  </div>
  <template id="cpn"> 
    <div>
      <slot :data="pLanguages">
        <ul>
          <li v-for="v in pLanguages">{{v}}</li>
        </ul>
      </slot>
    </div>
  </template>
  <script src="../../../public/js/vue.js"></script>
  <script>

    let app = new Vue({
      el: '#app',
      data: {
      },
      components: { // 注册的是局部组件
        cpn: {
          template: '#cpn',
          data() {
            return {
              pLanguages: ['JavaScript', 'C++', 'Java', 'C#', 'Python', 'Go', 'Swift']
            }
          }
        }
      }
    })
  </script>
</body>
</html>