<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>220个vue基础知识</title>
</head>
<body>
  <script>
    // 1 在vue中watch和created哪个先执行？为什么？
      // 在wacth监控数据时，设置immediate：true；会优先执行watch,created后执行;反之则反
      // 官网的生命周期图中，init reactivity是晚于beforeCreate但是早于created的。
      // watch加了immediate，应当同init reactivity周期一同执行，早于created。
      // 而正常的watch，则是mounted周期后触发data changes的周期执行，晚于created。
    // 2 vue中mixins和extends有什么区别？
      // Vue.extend创建组件的构造函数，为了复用
      // mixins可以混入多个mixin，extends只能继承一个
      // mixins类似于面向切面的编程（AOP），extends类似于面向对象的编程
      // 优先级Vue.extend>extends>mixins
    // 3 vue中mixins有什么使用场景？
      // 在项目中，如果我们需要提取公用的数据或者通用的方法，并且这些数据与方法不需要组件间进行维护，就可以使用mixins
      // 或者是比如一些页面权限控制的内容，也可以考虑抽一个mixin
    // 4 在vue中created与activated有什么区别？
      // created():在实例创建完成后被立即调用。在这一步，实例已完成以下的配置：数据观测 (data observer)，property 和方法的运算，watch/event 事件回调。然而，挂载阶段还没开始，$el property 目前尚不可用。
      // activated()：是在路由设置<keep-alive></keep-alive>时，才会有这个生命周期。在被 keep-alive 缓存的组件激活时调用。该钩子在服务器端渲染期间不被调用。
    // 5 在vue项目如何引入异步组件？
      // 局部注册：
      // 这个动态导入会返回一个 Promise 对象。
        // componets: {
        //   my-componets: () => import('./my-model-component')
        // }
        // 这个特殊的 require 语法将会告诉 webpack
        // 自动将你的构建代码切割成多个包，这些包
        // 会通过 Ajax 请求加载
        // componets: {
        //   my-componets: (resolve) => { require(['./my-async-component'], resolve) }
        // }
    // 6 在vue项目中scss scoped穿透符>>>无效的解决方案有哪些？
      // .a ::v-deep .b {
      //   font-size: 24px;
      // }
      // .a /deep/ .b {
      //   font-size: 24px;
      // }
    // 7 为什么在v-for中的key不推荐使用随机数或者index呢？那要怎么使用才比较好呢？
      // 因为在插入数据或者删除数据的时候，会导致后面的数据的key绑定的index变化，进而导致重新渲染，效率会降低
      // key应该绑定你v-for循环数据中的唯一值，这样就会大大减少渲染次数，数据更新时就不用一一替换，从而使用插入新数据的算法。
    // 8 vue-loader在webpack编译流程中的哪个阶段？
      // 编译模板阶段：从入口文件出发，调用所有配置的Loader对模块进行翻译，再找出该模块依赖的模块，再递归本步骤直到所有入口依赖的文件都经过了本步骤的处理
    // 9 预渲染和SSR(服务端渲染)有什么区别？
      // 服务端渲染和预渲染的使用场景还是有较明显的区别的。预渲染的使用场景更多是我们所说的静态页面的形式。服务端渲染适用于大型的、页面数据处理较多且较为复杂的、与服务端有数据交互的功能型网站，一个明显的使用场景就是电商网站。
    // 10 你有用过预渲染技术吗？怎么做的？
      // 对搜索引擎SEO进行优化 
      // 预渲染的核心是使用 prerender-spa-plugin
      // new PrerenderSPAPlugin({
      // staticDir: path.join(__dirname, 'dist'),
      // routes: [ '/', '/home', '/infomation', '/ticket', '/scenery', '/about' ],
      // renderer: new Renderer({
      // headless: false,
      // renderAfterDocumentEvent: 'render-event'
      // })
      // }),
      // 项目所有的路由，最终生成后有几个页面，都是以这个配置为依据，而不是你在 vue-router 中配置的路由。
    // 11 使用vue如何判断页面是否编辑及编辑页面未保存离开时，给出弹窗提示
      // 11.1 使用watch监听数据变化的次数
      // watch: {
      //   datas: {
      //     handler (val) {
      //       if (val) {
      //         this.count++
      //       }
      //     },
      //     deep: true
      //   }
      // },
       // 11.2 使用路由监听离开时是否给提示
      // beforeRouteLeave (to, from, next) {
      //   if (this.count > 1) {
      //     if (this.status) {
      //       next()
      //       return
      //     }
      //     this.$refs.leaveTip.changeLimitDialog(true)
      //     this.leave = to
      //     next(false)
      //   } else {
      //     next()
      //   }
      // }
    // 12 vue的.sync修饰符可以用表达式吗？为什么？
      // 不能和表达式一起使用
      // 先看看 vue 最终生成的 render 函数：
      // <div>
      //   <input v-bind:name.sync="name + 1">
      // </div>
      // vue 会把上面的模板生成为：

      // function render() {
      //   with(this) {
      //     return _c('div', [_c('input', {
      //       attrs: {
      //         "name": name + 1
      //       },
      //       on: {
      //         "update:name": function ($event) {
      //           name + 1 = $event
      //         }
      //       }
      //     })])
      //   }
      // }
      // 看到这里就明白了，使用表达式会产生一条错误的语句：

      // name + 1 = $event
    // 13 v-if和v-show哪个优先级更高？
      // 我来解释：if>show

      // v-if="true"   v-show="false"

      // v-if="false"   v-show="true"
      // 不管那种，都为false，只要有false就不显示

      // 上面两种if是用来判断得，如果为if为true，那么v-show就会出现并执行隐藏，元素还在只是不显示，是由if进行的初始化渲染，当if为false得时候，v-show不执行，在所在元素都不显示当前得标签，不进行初始化渲染。

      // 当：

      // v-show="false" v-if="true"

      // v-show="true" v-if="false"  
      // 当show在前，if在后时，也是判断if，v-show="false" v-if="true"， 当前所使用的标签还在，有进行初始化渲染。在dom中可以找到。

      // 当v-show="true" v-if="false" 也是判断if，此时if为false，所以当前标签没有被初始化渲染。

      // 所以if>show
    // 14 如何批量引入组件？
      // 一、全局批量引入

      // 创建一个.js文件，并在main.js中引入即可。

      // import Vue from "vue"
      // import upperFirst from "lodash/upperFirst"
      // import camelCase from "lodash/camelCase"
      // const requireComponent = require.context(
      //     './', //组件所在目录的相对路径
      //     false, //是否查询其子目录
      //     /Base[A-Z]\w+\.(vue|js)$/ //匹配基础组件文件名的正则表达式
      // )
      // requireComponent.keys().forEach(fileName=>{
      //     // 获取文件名
      //     var names = fileName.split("/").pop().replace(/\.\w+$/,"");//BaseBtn
      //     // 获取组件配置
      //     const componentConfig = requireComponent(fileName);
      //     // 若该组件是通过"export default"导出的，优先使用".default"，
      //     // 否则退回到使用模块的根
      //     Vue.component(names,componentConfig.default || componentConfig);
      // })
      // 二、局部批量引入

      // <template>
      //     <div>
      //         <component v-bind:is="isWhich"></component>
      //     </div>
      // </template>
      // // 引入所有需要的动态组件
      // const requireComponent = require.context(
      //   "./", //组件所在目录的相对路径
      //   true, //是否查询其子目录
      //   /\w+\.vue$/ //匹配基础组件文件名的正则表达式
      // );
      // var comObj = {};
      // requireComponent.keys().forEach(fileName => {
      //   // 获取文件名
      //   var names = fileName
      //     .split("/")
      //     .pop()
      //     .replace(/\.\w+$/, "");
      //   // 获取组件配置
      //   const componentConfig = requireComponent(fileName);
      //   // 若该组件是通过"export default"导出的，优先使用".default"，否则退回到使用模块的根
      //   comObj[names] = componentConfig.default || componentConfig;
      // });
      // export default {
      //   data() {
      //     return {
      //         isWhich: ""
      //     }
      //   },
      //   mounted() {},
      //   components: comObj
      // };
      // 三、动态组件使用方法
      // <keep-alive>
      //     <component :is="isWhich"></component>
      // </keep-alive>
      // 使用标签保存状态，即切换组件再次回来依然是原来的样子，页面不会刷新，若不需要可以去掉。
      // 通过事件改变is绑定的isWhich值即可切换成不同的组件，isWhich的值为组件名称。
    // 15 vue的v-for如何倒序输出？
      // 先把数组做一层reverse()倒叙处理，然后在执行v-for
    // 16 如何在全局使用axios的实例呢？
      // 在main.js文件下导入axiso，并挂载到vue实例上
      // import axios from 'axios';
      // Vue.prototype.$axios = axios;
    // 17 v-show指令算是重排吗？
      // 页面渲染时，当页面中元素的位置，大小或结构、定位发生改变，或者对HTML结构增删查改时，浏览器会对所有的dom进行重新排序，这就是DOM回流，严重影响浏览器性能。
      // v-show指令其原理就是改变display涉及到了DOM结构所以放生了重排。
    // 18 axios同时请求多个接口，如果当token过期时，怎么取消后面的请求？
      // 官网上标准答案：
      // const CancelToken = axios.CancelToken;
      // const source = CancelToken.source();
      // axios.get('/user/12345', {
        // cancelToken: source.token}
      // ).catch(
        // function(thrown) {
            // if (axios.isCancel(thrown)) {
            // console.log('Request canceled', thrown.message);
            // } else {
            // // 处理错误
            // }
          // });
      // axios.post('/user/12345', { name: 'new name'}, { cancelToken: source.token}) // 取消请求（message 参数是可选的）
      // source.cancel('Operation canceled by the user.');
    // 19 从0到1自己构架一个vue项目，说说有哪些步骤、哪些重要插件、目录结构你会怎么组织
    // 20 你知道vue的模板语法用的是哪个web模板引擎的吗？说说你对这模板引擎的理解
      // Vue使用了Mustache语法，即双大括号的语法。
      // 模板引擎： 负责组装数据，以另外一种形式或外观展现数据。
      // 优点：
      // 可维护性（后期改起来方便）； 可扩展性（想要增加功能，增加需求方便）； 开发效率提高（程序逻辑组织更好，调试方便）； 看起来舒服（不容易写错）
    // 21 你知道v-model的原理吗？说说看
      // v-model是个语法糖:
      // v-bind:value="value"
      // v-on:input="e => value = e.target.value"
      // 因为V-model并不仅限于Form表单, 目前还支持更改事件名称和变量名称
      // model: {
      //   prop: 'checked',
      //   event: 'change'
      // }
    // 22 你有使用过vue开发多语言项目吗？说说你的做法？
      // 我个人网站的多语言是用vuex实现的，所有语言对于信息都命名，存在后端，由restful接口返回，在切换语言时触发dispatch，调用接口，在所有页面里mapState拿到语言配置，渲染上去
      // i18n没耍过
    // 23 在使用计算属性的时，函数名和data数据源中的数据可以同名吗？
      // 肯定是不能同名的了，vue语法就会报错 Method "xxx" has already been defined as a data property
    // 24 vue中data的属性可以和methods中的方法同名吗？为什么？
      // 肯定是不能同名的了,不管是方法，计算属性还是data最后都会挂载到vue实例上去，如果同名了就会把其中一条覆盖掉，
    // 25 怎么给vue定义全局的方法？
      // 1.挂载在prototype上，Vue.prototype
      // 2.Vue.mixin
    // 26 vue2.0不再支持v-html中使用过滤器了怎么办？
      // 1：全局方法
      // 2：computed
    // 27 怎么解决vue打包后静态资源图片失效的问题？
      // 路径是否是动态的，如果是动态，需要用require() 引入。
      // 到config/index.js 配置文件，找build打包对象里的assetsPublicPath属性默认值为/，更改为./就好了
    // 28 怎么解决vue动态设置img的src不生效的问题？
      // 因为动态添加src被当做静态资源处理了，没有进行编译，所以要加上require。
      // <img class="logo" :src="require("./../assets/images/logo.png")" alt="公司logo">
    // 29 使用vue后怎么针对搜索引擎做SEO优化？
      // 使用预渲染prerender-spa-plugin
      // TDK描叙详细，不重复，使用了vue-meta-info 管理网站的meta
      // 合理使用标题h1-h6，链接可以使用router-link或者a标签， 图片设置alt属性等
    // 30 跟keep-alive有关的生命周期是哪些？描述下这些生命周期
      // activated和deactivated
      // keep-alive的生命周期
      // 1.activated： 页面第一次进入的时候，钩子触发的顺序是created->mounted->activated
      // 2.deactivated: 页面退出的时候会触发deactivated，当再次前进或者后退的时候只触发activated
    // 31 如果现在让你从vue/react/angularjs三个中选择一个，你会选哪个？说说你的理由
      // vue的优势：轻量级框架、简单易学、双向数据绑定、组件化、视图、数据和结构的分离、虚拟DOM、运行速度快
    // 32 你知道vue2.0兼容IE哪个版本以上吗？
      // 不兼容ie8及以下,部分兼容ie9 ，完全兼容10以上
      // 是因为vue的响应式原理是基于es5的Object.defineProperty的,而这个方法不支持ie8及以下
    // 33 使用vue开发一个todo小应用，谈下你的思路
      // 结构: 输入部分( input )和输出部分( ul )
      // 逻辑:用户输入之后,通过事件触发拿到用户输入的数据存起来,
      // 将用户数据集合通过 v-for 渲染到页面上
      // 当用户点击清单项,通过事件触发移出对应事件
    // 34 你有看过vue推荐的风格指南吗？列举出你知道的几条
        // 优先级A的规则：必要的 （规避错误）
        // 组件名为多个单词
        // 组件数据：组件的 data 必须是一个函数。
        // 细致的 Prop 定义
        // 总是用 :key 配合 v-for
        // 避免 v-if 和 v-for 用在一起
        // 为组件样式设置作用域
        // 私有属性名：自定义私有属性使用 $_ 前缀。并附带一个命名空间以回避和其它作者的冲突 (比如 $_yourPluginName_)。

        // 优先级B的规则：强烈推荐 （增强可读性）
        // 组件文件：只要有能够拼接文件的构建系统，就把每个组件单独分成文件。
        // 单文件组件文件的大小写：要么始终是单词大写开头 (PascalCase)，要么始终是横线连接 (kebab-case)。
        // 基础组件名：应用特定样式和约定的基础组件 (也就是展示类的、无逻辑的或无状态的组件) 应该全部以一个特定的前缀开头，比如 Base、App 或 V。
        // 单例组件名：只拥有单个活跃实例（每个页面只使用一次）的组件应该以 The 前缀命名，以示其唯一性。
        // 紧密耦合的组件名：和父组件紧密耦合的子组件应该以父组件名作为前缀命名。
        // 组件名中的单词顺序：组件名应该以高级别的 (通常是一般化描述的) 单词开头，以描述性的修饰词结尾。
        // 自闭合组件：在单文件组件、字符串模板和 JSX 中没有内容的组件应该是自闭合的——但在 DOM 模板里永远不要这样做。
        // 模版中的组件名大小写：在单文件组件和字符串模板中组件名应该总是 PascalCase 的——但是在 DOM 模板中总是 kebab-case 的。
        // JS / JSX 中的组件名大小写：JS/JSX 中的组件名应该始终是 PascalCase 的，在较为简单的应用中只使用 Vue.component 进行全局组件注册时，可以使用 kebab-case 字符串。
        // 完整单词的组件名
        // Prop 名大小写：在声明 prop 的时候，其命名应该始终使用 camelCase，而在模板和 JSX 中应该始终使用 kebab-case。
        // 多个特性的元素：多个特性的元素应该分多行撰写，每个特性一行。
        // 模板中简单的表达式：组件模板应该只包含简单的表达式，复杂的表达式则应该重构为计算属性或方法。
        // 简单的计算属性
        // 带引号的特性值：非空 HTML 特性值应该始终带引号 (单引号或双引号，选你 JS 里不用的那个)。
        // 指令缩写：指令缩写 (用 : 表示 v-bind: 、用 @ 表示 v-on: 和用 # 表示 v-slot:) 应该要么都用要么都不用。

        // 优先级C的规则：推荐 （将选择和认知成本最小化）
        // https://cn.vuejs.org/v2/style-guide/#%E4%BC%98%E5%85%88%E7%BA%A7-C-%E7%9A%84%E8%A7%84%E5%88%99%EF%BC%9A%E6%8E%A8%E8%8D%90-%E5%B0%86%E9%80%89%E6%8B%A9%E5%92%8C%E8%AE%A4%E7%9F%A5%E6%88%90%E6%9C%AC%E6%9C%80%E5%B0%8F%E5%8C%96
        // 组件 / 实例的选项的顺序
        // 元素特性的顺序
        // 组件 / 实例选项中的空行：在多个属性之间增加一个空行，特别是在这些选项一屏放不下，需要滚动才能都看到的时候。
        // 单文件组件的顶级元素的顺序：总是让 <script>、<template> 和 <style> 标签的顺序保持一致。且 <style> 要放在最后，因为另外两个标签至少要有一个。

        // 优先级D的规则：谨慎使用 （有潜在危险的模式）
        // 没有在 v-if / v-else-if / v-else 中使用 key
        // 元素选择器应该避免在 scoped 中出现。
        // 隐性的父子组件通信：应该优先通过 prop 和事件进行父子组件之间的通信，而不是 this.$parent 或改变 prop。
        // 非 Flux 的全局状态管理：应该优先通过 Vuex 管理全局状态，而不是通过 this.$root 或一个全局事件总线。
    // 35 你是从vue哪个版本开始用的？你知道1.x和2.x有什么区别吗？
        // 像1.0与2.0，我只知道一点-。-
        // 1、 2.0生命生命周期变化感觉变得更加语义化一点（有规律可寻，更好记了），而且增加了beforeUpdate、updated、activated、deactivated，删除了attached、detached。
        // 2、2.0将1.0所有自带的过滤器都删除了，也就是说，在2.0中，要使用过滤器，则需要我们自己编写，以下是一个自定义过滤器示例,
        // Vue.filter('toDou',function(n,a,b){
        // return n<10?n+a+b:''+n;
        // });
    // 36 你知道vue中key的原理吗？说说你对它的理解
      // key的作用主要是为了高效的更新虚拟DOM;
      // 如果没有唯一的key, 数据更新时, 相同节点更新前后无法准确一一对应起来,会导致更新效率降低;
      // 当页面的数据发生变化时，Diff算法只会比较同一层级的节点：
      // 如果节点类型不同，直接干掉前面的节点，再创建并插入新的节点，不会再比较这个节点以后的子节点;
      // 如果节点类型相同，则会重新设置该节点的属性，从而实现节点的更新;
    // 37 vue中怎么重置data？
      // 第一种，手动去给表单双向绑定的对象赋值为空
      // data(){
      //     return{
      //         Notica:{
      //             title:"",
      //             content:"",
      //         }
      //     }
      // }
      // 最直接的办法
      // this.Notica.title = ""
      // this.Notica.content = ""
      // 但这种方法只在对象数量少的时候可以用一下，如果我需要重置的对象很多怎么办,此时可以用另一种方法
      // this.$options.data()
      // 调用它我们可以获取到页面data在刚初始化时的状态
      // data(){
      //     return{
      //         Notica:{
      //             title:"",
      //             content:"",
      //         }
      //     }
      // }
      // 那么这样我们就可以将data中的某个数据重置到初始状态
      // this.Notica = this.$options.data().Notica
      // 但如果我想把整个data都重置到初始化状态呢？
      // Object.assign(this.$data, this.$options.data.call(this))
      // 那就用这个方法
      // this.$data 获取的是当前的data对象 
      // Object.assign则可以将一个对象赋值给另一个对象
      // 两个参数，可以将参数2 赋值给 参数1
      // 注意 这里调用options.data 时请用call调用并传入当前this，不这么做的话默认的this可能会指向全局vue对象，这就会导致它报错
    // 38 vue渲染模板时怎么保留模板中的HTML注释呢？
      // 设置comments属性，官网默认为舍弃注释
      // <template comments> ... <template>
    // 39 Vue.observable你有了解过吗？说说看
      // 类轻量级vuex，用作状态管理。
      // //store.js
      // import Vue from 'vue';
      // export let store = Vue.observable({count:0,name:'张三'});
      // export let mutations = {
      // setCount(count){
      // store.count=count;
      // },
      // setName(name){
      // store.name=name;
      // }
      // }
    // 40 你知道style加scoped属性的用途和原理吗？
      // 用途：防止全局同名CSS污染
      // 原理：在标签加上v-data-something属性，再在选择器时加上对应[v-data-something]，即CSS带属性选择器，以此完成类似作用域的选择方式
    // 41 你期待vue3.0有什么功能或者改进的地方？
      // 彻底解决Vuex表单状态管理问题
    // 42 vue边界情况有哪些？
      // 访问根实例、访问父组件、子组件、组件递归
    // 43 如何在子组件中访问父组件的实例？
      // this.$parent拿到父组件实例
      // this.$children拿到子组件实例（数组）
    // 44 watch的属性用箭头函数定义结果会怎么样？
      // 因为箭头函数默绑定父级作用域的上下文，将不会按照期望指向 Vue 实例，所以 this 是undefind Cannot read property 'xxx' of undefined
    // 45 在vue项目中如果methods的方法用箭头函数定义结果会怎么样？
      // 因为箭头函数默绑定父级作用域的上下文，将不会按照期望指向 Vue 实例，所以 this 是undefind Cannot read property 'xxx' of undefined
      // 在严格模式下this是undefined，在非严格模式下指向window
    // 46 在vue项目中如何配置favicon？
      // 将 favicon 图片放到 static 文件夹下
      // 用 vue-cli 搭建的Vue项目。
      // 然后在 index.html 中添加：
      // <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
      // ue-cli3中，index.html 里面有 meta 标签，但是修改后无效，会经过 webpack 自动加入一些meta标签，这些标签可以在 vue.config.js 里面配置。
      // 刷新浏览器页面。
    // 47 你有使用过babel-polyfill模块吗？主要是用来做什么的？
      // ES6的转码。IE的兼容
      // Babel默认只转换新的JavaScript句法（syntax），而不转换新的API，比如Iterator、Generator、Set、Maps、Proxy、Reflect、Symbol、Promise等全局对象，以及一些定义在全局对象上的方法（比如Object.assign）都不会转码。
      // 举例来说，ES6在Array对象上新增了Array.from方法。Babel就不会转码这个方法。如果想让这个方法运行，必须使用babel-polyfill，为当前环境提供一个垫片。
      // Babel默认不转码的API非常多，详细清单可以查看babel-plugin-transform-runtime模块的definitions.js文件。
    // 48 说说你对vue的错误处理的了解？
      // 分为errorCaptured与errorHandler。
      // errorCaptured是组件内部钩子，可捕捉本组件与子孙组件抛出的错误，接收error、vm、info三个参数，return false后可以阻止错误继续向上抛出。
      // errorHandler为全局钩子，使用Vue.config.errorHandler配置，接收参数与errorCaptured一致，2.6后可捕捉v-on与promise链的错误，可用于统一错误处理与错误兜底。
    // 49 在vue事件中传入$event，使用e.target和e.currentTarget有什么区别？
      // event.currentTarget指向事件所绑定的元素，而event.target始终指向事件发生时的元素。
    // 50 在.vue文件中style是必须的吗？那script是必须的吗？为什么？
      // 试验了下，在 .vue 文件中，template是必须的，而script与style都不是必须的。
      // 如果没有 template，则 [Vue warn]: Failed to mount component: template or render function not defined.
    // 51 vue怎么实现强制刷新组件？
      // 1.如果要在组件内部中进行强制刷新
      // 调用this.$forceUpdate()强制重新渲染组件
      // 2.如果是刷新某个子组件
      // 利用v-if指令的特性
      // 当组件的key 值变更时，会自动的重新渲染
      // //模版上绑定key
      // <SomeComponent :key="theKey"/>
      // //选项里绑定data
      // data(){
      //   return{
      //       theKey:0
      //   }
      // }
      // //刷新key达到刷新组件的目的
      // theKey++;
    // 52 vue自定义事件中父组件怎么接收子组件的多个参数？
      // this.$emit("eventName",data)
      // data 对象或数组都可以的。
    // 53 实际工作中，你总结的vue最佳实践有哪些？
      // 全部存在vue风格指南里面了
    // 54 vue给组件绑定自定义事件无效怎么解决？
      // 两种方式
      // 1、组件外部加修饰符.navtive
      // 2、组件内部声明$emit('自定义事件')
    // 55 vue的属性名称与method的方法名称一样时会发生什么问题？
      // 报错 "Method 'xxx' has already been defined as a data property"
      // 键名优先级：props > data > methods
      // 但data属性会覆盖methods定义的值，报属性已定义警告
      // props不会覆盖值，但会报属性已定义警告和Prop异常警告
    // 56 vue变量名如果以_、$开头的属性会发生什么问题？怎么访问到它们的值？
      // 报错 变量未定义
      // 以 _ 或 $ 开头的属性 不会 被 Vue 实例代理，因为它们可能和 Vue 内置的属性、API 方法冲突。
      // 你可以使用例如 $data.xxx或者_data.xxx vm.a 等价于访问 vm.$data.a，的方式访问这些属性。
    // 57 vue使用v-for遍历对象时，是按什么顺序遍历的？如何保证顺序？
      // 1、会先判断是否有iterator接口，如果有循环执行next()方法
      // 2、没有iterator的情况下，会调用Object.keys()方法，在不同浏览器中，JS引擎不能保证输出顺序一致
      // 3、保证对象的输出顺序可以把对象放在数组中，作为数组的元素
    // 58 vue如果想扩展某个现有的组件时，怎么做呢？
      // 使用Vue.extend直接扩展
      // 使用Vue.mixin全局混入
      // HOC封装
      // 加slot扩展
    // 59 说下$attrs和$listeners的使用场景
      // 组件传值，祖孙组件有跨度的传值。
      // 一般我对一些UI库进行二次封装用，比如element-ui，里面的组件不能满足自己的使用场景的时候，会二次封装，但是又想保留他自己的属性和方法，那么这个时候时候$attrs和$listners是个完美的解决方案。
      // 简单的例子，对el-button二次封装
      // <template>
      //     <el-button v-on="$listeners" v-bind="$attrs" :loading="loading" @click="myClick">
      //         <slot></slot>
      //     </el-button>
      // </template>
    // 60 分析下vue项目本地开发完成后部署到服务器后报404是什么原因呢？
      // 1.检查nginx配置，是否正确设置了资源映射条件；
      // 2.检查vue.config.js中是否配置了publicPath，若有则检查是否和项目资源文件在服务器摆放位置一致。
    // 61 v-once的使用场景有哪些？
      // 单次触发的场景
      // v-once 只渲染元素和组件一次。随后的重新渲染，元素/组件及其所有的子节点将被视为静态内容并跳过。这可以用于优化更新性能。
    // 62 说说你对vue的表单修饰符.lazy的理解
      // v-model默认的触发条件是input事件,加了.lazy修饰符之后,v-model会在change事件触发的时候去监听 ，vue并不会立即监听input Value的改变，会在input失去焦点之后，才会触发input Value的改变
    // 63 vue为什么要求组件模板只能有一个根元素？
      // 我觉得这个问题需要从两个方面来说起：

      // 1.new Vue({el:'#app'})

      // 2.单文件组件中，template下的元素div

      // 一、

      // 当我们实例化Vue的时候，填写一个el选项，来指定我们的SPA入口：

      // let vm = new Vue({
      //     el:'#app'
      // })
      // 同时我们也会在body里面新增一个id为app的div

      // <body>
      //     <div id='app'></div>
      // </body>
      // 这很好理解，就是为vue开启一个入口，那我们不妨来想想，如果我在body下这样

      // <body>
      //     <div id='app1'></div>
      //     <div id='app2'></div>
      // </body>
      // Vue其实并不知道哪一个才是我们的入口，因为对于一个入口来讲，这个入口就是一个‘Vue类’，Vue需要把这个入口里面的所有东西拿来渲染，处理，最后再重新插入到dom中。
      // 如果同时设置了多个入口，那么vue就不知道哪一个才是这个‘类’。

      // 二、

      // 当我们在webpack搭建的vue开发环境下，使用单文件组件时，你可能会这样：

      // <template>
      //     <div class='component'></div>
      // </template>
      // 那这里为什么template下也必须有且只能有一个div呢？

      // 这里我们要先看一看template这个标签，这个标签是HTML5出来的新标签，它有三个特性：

      // 1.隐藏性：该标签不会显示在页面的任何地方，即便里面有多少内容，它永远都是隐藏的状态；

      // 2.任意性：该标签可以写在页面的任何地方，甚至是head、body、sciprt标签内；

      // 3.无效性：该标签里的任何HTML内容都是无效的，不会起任何作用；

      // 但是呢，你可以通过innerHTML来获取到里面的内容。

      // 知道了这个，我们再来看.vue的单文件组件。其实本质上，一个单文件组件，本质上（我认为）会被各种各样的loader处理成为.js文件（因为当你import一个单文件组件并打印出来的时候，是一个vue实例），通过template的任意性我们知道，template包裹的HTML可以写在任何地方，那么对于一个.vue来讲，这个template里面的内容就是会被vue处理为虚拟dom并渲染的内容，导致结果又回到了开始 ：既然一个.vue单文件组件是一个vue实例，那么这个实例的入口在哪里？

      // 如果在template下有多个div，那么该如何指定这个vue实例的根入口？
      // 为了让组件能够正常的生成一个vue实例，那么这个div会被自然的处理成程序的入口。

      // 通过这个‘根节点’，来递归遍历整个vue‘树’下的所有节点，并处理为vdom，最后再渲染成真正的HTML，插入在正确的位置

      // 那么这个入口，就是这个树的‘根’，各个子元素，子组件，就是这个树的‘枝叶’，而自然而然地，这棵‘树’，就是指一个vue实例了。
    // 64 EventBus注册在全局上时，路由切换时会重复触发事件，如何解决呢？
      // 在组件内的beforeRouteLeave中移除事件监听
    // 65 怎么修改vue打包后生成文件路径？
      // webpack：output.path
      // vue-cli3: outputDir
    // 66 你有使用做过vue与原生app交互吗？说说vue与ap交互的方法
      // 用WebViewJavascriptBridge
      // export const connectWebViewJavascriptBridge = callback => { if (window.WebViewJavascriptBridge) { callback(WebViewJavascriptBridge) } else { document.addEventListener( 'WebViewJavascriptBridgeReady', function() { callback(WebViewJavascriptBridge) }, false ) } }
    // 67 使用vue写一个tab切换
      // v-for循环，利用下标和v-show显示

      // `<div id="app">
      //     <ul class="tabs">
      //         <li class="li-tab" v-for="(item,index) in tabsParam" 
      //         @click="toggleTabs(index)" 
      //         :class="index===nowIndex?'active':''">{{item}}</li>
      //     </ul>
      //     <div class="divTab" v-show="nowIndex===0">我是tab1</div>
      //     <div class="divTab" v-show="nowIndex===1">我是tab2</div>
      //     <div class="divTab" v-show="nowIndex===2">我是tab3</div>
      //     <div class="divTab" v-show="nowIndex===3">我是tab4</div>
      // </div>`
    // 68 vue中什么是递归组件？举个例子说明下？
      // 递归函数我们都再熟悉不过了，也就是函数自己调用自己。递归组件也是类似的，在组件的template内部使用组件自身。那递归组件有什么使用场景呢？ 我们都知道树这个数据结构就是一种递归的结构，因此我们可以用递归组件去实现一个Tree效果，一般可以用于多层级的菜单。
      // 当前注册一个vue组件定义 name 为 'node-tree' ，在组件 template 内部调用 实现递归。
    // 69 怎么访问到子组件的实例或者子元素？
      // this.$children/this.$refs.xxx
    // 70 在子组件中怎么访问到父组件的实例？
      // this.$parent
    // 71 在组件中怎么访问到根实例？
      // this.$root
    // 72 说说你对Object.defineProperty的理解
      // Object.defineProperty定义新属性或修改原有的属性；
      // vue的数据双向绑定的原理就是用的Object.defineProperty这个方法，里面定义了setter和getter方法，通过观察者模式（发布订阅模式）来监听数据的变化，从而做相应的逻辑处理。
    // 73 vue组件里写的原生addEventListeners监听事件，要手动去销毁吗？为什么？
      // 肯定要，一方面是绑定多次，另一方面是函数没释放会内存溢出
    // 74 vue组件里的定时器要怎么销毁？
      // 可以在路由离开前清除
      // beforeRouteLeave(to, from, next) {
      // //做清除操作。。。
      // next();
      // }
    // 75 vue组件会在什么时候下被销毁？
      // 页面关闭、路由跳转、v-if和改变key值
    // 76 使用vue渲染大量数据时应该怎么优化？说下你的思路！
      // 按需加载局部数据, 虚拟列表，无限下拉刷新
      // 数据量大的时候，可以做分页处理。翻页一次请求10-20条数据
    // 77 在vue中使用this应该注意哪些问题？
      // vue 的data，methods，生命周期的钩子函数中函数尽量不要使用箭头函数，会改变this指向，在vue-cli构建的项目中this会为undefined
    // 78 你有使用过JSX吗？说说你对JSX的理解
      // jsx不是一门新的语言，是一种新的语法糖。让我们在js中可以编写像html一样的代码。
      // 允许XML语法直接加入到JavaScript代码中，让你能够高效的通过代码而不是模板来定义界面
    // 79 说说组件的命名规范
      // 定义组件名有两种方式：
      // 1.kebab-case（短横线分隔命名），引用时必须也采用kebab-case；
      // 2.PascalCase（首字母大写命名），引用时既可以采用PascalCase也可以使用kebab-case；
      // 但在DOM中使用只有kebab-case是有效的
    // 80 怎么配置使vue2.0+支持TypeScript写法？
      // 配置ts-loader，tsconfig
      // 增加类型扩展，让ts识别vue文件
      // vue文件中script里面换成ts写法， 需要增加几个ts扩展的package， 比如vue-property-decorator
    // 81 <template></template>有什么用？
      // 包裹嵌套其它元素，使元素具有区域性，自身具有三个特点：
      // *隐藏性：不会显示在页面中
      // *任意性：可以写在页面的任意地方
      // *无效性： 没有一个根元素包裹，任何HTML内容都是无效的
    // 82 vue的is这个特性你有用过吗？主要用在哪些方面？
      // vue中is的属性引入是为了解决dom结构中对放入html的元素有限制的问题
      // 切换组件用的
    // 83 vue的:class和:style有几种表示方式？
      // :class 绑定变量 绑定对象 绑定一个数组 绑定三元表达式
      // :style 绑定变量 绑定对象 绑定函数返回值 绑定三元表达式
    // 84 你了解什么是函数式组件吗？
      // 组件里的一个函数，入参是渲染上下文(render context)，返回值是渲染好的HTML
      // functional: true加上render function，就是一个最简单的函数式组件啦，show your the code, 下面就创建一个名为FunctionButton.js的函数式组件
      // export default {
      //   name: 'functional-button',
      //   functional: true,
      //   render(createElement, context) {
      //       return createElement('button', 'click me')
      //   }
      // }
    // 85 vue怎么改变插入模板的分隔符？
      // delimiters
      // 默认值：["{{", "}}"]
      // 限制：这个选项只在完整构建版本中的浏览器内编译时可用。
      // 详细：
      // 改变纯文本插入分隔符。
      // 示例：
      // new Vue({
      //   delimiters: ['${', '}']
      // })
      // 分隔符变成了 ES6 模板字符串的风格
    // 86 组件中写name选项有什么作用？
      // 1.当项目使用keep-alive时，可搭配组件name进行缓存过滤
      // 2.DOM做递归组件时
      // 比如说detail.vue组件里有个list.vue子组件，递归迭代时需要调用自身name
      // 3.当你用vue-tools时
      // vue-devtools调试工具里显示的组见名称是由vue中组件name决定的
    // 87 说说你对provide和inject的理解
      // 通过在父组件中provide一些数据然后再所有子组件中都可以通过inject获取使用该参数,
      // 主要是为了解决一些循环组件比如tree, menu, list等, 传参困难（爷孙直接传值）, 并且难以管理的问题, 主要用于组件封装, 常见于一些ui组件库
    // 88 开发过程中有使用过devtools吗？
      // 很好用啊，看组件，参数，传值等，尤其是用的vuex的时候
    // 89 说说你对slot的理解有多少？slot使用场景有哪些？
      // 通过插槽可以让用户可以拓展组件，去更好地复用组件和对其做定制化处理
      // 如果父组件在使用到一个复用组件的时候，获取这个组件在不同地方有少量的更改，如果去重写组件是一件不明智的事情
      // 通过slot插槽向组件内部指定位置传递内容，完成这个复用组件在不同场景的应用
      // 比如布局组件、表格列、下拉选、弹框显示内容等
    // 90 你有使用过动态组件吗？说说你对它的理解
      // 切换组件使用，通过Vue内置组件 <component></component> 的 is 属性控制不同组件的渲染
    // 91 prop验证的type类型有哪几种？
      // 7种
      // props:{
      //   title:String,
      //   likes: Number,
      //   isPublished: Boolean,
      //   commentIds: Array,
      //   author: Object,
      //   callback: Function,
      //   contactsPromise: Promise
      // }
    // 92 prop是怎么做验证的？可以设置默认值吗？
      // 单个类型就用Number等基础类型，多个类型用数组，必填的话设置require为true，默认值的话设置default，对象和数组设置默认用工厂函数，自定义验证函数validator。
    // 93 怎么缓存当前打开的路由组件，缓存后想更新当前组件怎么办呢？
      // 可以在路由meta中加入参数, 对打开的路由进行keep-alive的判断, 通过钩子activated等
    // 94 说说你对vue组件的设计原则的理解
      // 第一: 容错处理, 这个要做好, 极端场景要考虑到, 不能我传错了一个参数你就原地爆炸
      // 第二: 缺省值(默认值)要有, 一般把应用较多的设为缺省值
      // 第三: 颗粒化, 把组件拆分出来.
      // 第四: 一切皆可配置, 如有必要, 组件里面使用中文标点符号, 还是英文的标点符号, 都要考虑到
      // 第五: 场景化, 如一个dialog弹出, 还需要根据不同的状态封装成success, waring, 等
      // 第六: 有详细的文档/注释和变更历史, 能查到来龙去脉, 新版本加了什么功能是因为什么
      // 第七: 组件名称, 参数prop, emit, 名称设计要通俗易懂, 最好能做到代码即注释这种程度
      // 第八: 可拓展性, 前期可能不需要这个功能, 但是后期可能会用上, 要预留什么, 要注意什么, 心里要有逼数
      // 第九: 规范化,我这个input组件, 叫on-change, 我另外一个select组件叫change, 信不信老子捶死你
      // 第十: 分阶段: 不是什么都要一期开发完成看具体业务, 如果一个select, 我只是个简单的select功能, 什么multi老子这个版本压根不需要, 别TM瞎折腾! 给自己加戏
    // 95 你了解vue的diff算法吗？
    // 96 vue如何优化首页的加载速度？
      // 异步路由和异步加载
      // 还有分屏加载, 按需加载, 延时加载图片等, cdn, 域名才分
      // sr直出，
      // webpack压缩HTML/CSS/JS，
      // 首屏css单独提取内联，
      // 关键资源Proload，
      // 图片：不缩放，使用webp、小图片base64，iconfont，
      // gzip,
      // dns-prefetch，
      // 静态资源单独域名，去掉cookie
    // 97 vue打包成最终的文件有哪些？
      // vendor.js, app.js, app.css,
      // 1.xxx.js
      // 2.xxx.js
      // 如果有设置到单独提取css的话
      // 还有
      // 1.xxx.css
    // 98 ajax、fetch、axios这三都有什么区别？
      // ajax, 实际上就是xmlHttpRequest, 旧瓶装新酒的一种新应用的称呼
      // fetch是新出的规范, 具体实现原理不太清楚, 但是内部返回的是一个Promise
      // axios是基于ajax的再次封装返回的也是Promise
    // 99 vue能监听到数组变化的方法有哪些？为什么这些方法能监听到呢？
      // push()
      // pop()
      // shift()
      // unshift()
      // splice()
      // sort()
      // reverse()
      // 在框架内重写过的，并不是原生的方法了，新的方法 里面增加了监听
    // 100 vue中是如何使用event对象的？
      // @click=“func” 默认第一个参数传入event对象
      // @click="func(0, $event)" 如果自己需要传入参数和event对象，则需要使用$event来获取event对象并传入func
    // 101 vue首页白屏是什么问题引起的？如何解决呢？白屏优化
      // 打包优化 路由懒加载 代码压缩 第三方插件按需加载
    // 102 说说你对单向数据流和双向数据流的理解
      // 单向数据流：所有状态的改变可记录、可跟踪，源头易追溯；所有数据只有一份，组件数据只有唯一的入口和出口，使得程序更直观更容易理解，有利于应用的可维护性；一旦数据变化，就去更新页面(data-页面)，但是没有(页面-data)；如果用户在页面上做了变动，那么就手动收集起来(双向是自动)，合并到原有的数据中。
      // 双向数据流：无论数据改变，或是用户操作，都能带来互相的变动，自动更新。
      // 举例就是：父传子的props就是单向数据流，v-model就是双向数据流
    // 103 移动端ui你用的是哪个ui库？有遇到过什么问题吗？
      // vant，mint等等吧，各有各的坑，不过大部分都是可以查到解决方案的
    // 104 你知道nextTick的原理吗？
      // 用法：在下次 DOM 更新循环结束之后执行延迟回调。在修改数据之后立即使用这个方法，获取更新后的 DOM。
      // 就是当数据发生变化时，视图不会立即更新，而是等到同一事件循环中所有数据变化完成之后，再统一更新视图。
    // 105 说说你对v-clock和v-pre指令的理解
      // v-cloak指令只是在标签中加入一个v-cloak自定义属性，在HTML还编译完成之后该属性会被删除。
      // v-pre可以用来阻止预编译，有v-pre指令的标签内部的内容不会被编译，会原样输出。
    // 106 写出你知道的表单修饰符和事件修饰符
      // 事件修饰符.stop .prevent .capture .self .once .passive
      // 表单修饰符.number .lazy .trim
    // 107 说说你对proxy的理解
      // vue的数据劫持有两个缺点:
      // 1、无法监听通过索引修改数组的值的变化
      // 2、无法监听object也就是对象的值的变化
      // 所以vue2.x中才会有$set属性的存在
      // proxy是es6中推出的新api，可以弥补以上两个缺点，所以vue3.x版本用proxy替换object.defineproperty
    // 108 你有自己用vue写过UI组件库吗？
    // 109 用vue怎么实现一个换肤的功能？
    // 110 有在vue中使用过echarts吗？踩过哪些坑？如何解决的？
      // 在切换tab时 第二个tab的图表无法正常显示 切换tab时使用方法@tab-click="handleClick"加载图表的render函数
    // 111 如果让你教一个2-3年经验前端经验的同事使用vue，你该怎么教？
      // 把官网地址贴给他
    // 112 vue性能的优化的方法有哪些？
    // 113 SSR解决了什么问题？有做过SSR吗？你是怎么做的？
      // SSR server side render服务端渲染，解决spa应用缺点的首屏加载速度慢、不利于SEO问题
    // 114 说说你觉得认为的vue开发规范有哪些？
      // 看风格指南
    // 115 vue部署上线前需要做哪些准备工作？
      // 主要assetsPublicPath、publicPath 两个 router 是不是hash 是否需要配置nginx , publicPath , 是不是要配置cdn
    // 116 vue过渡动画实现的方式有哪些？
      // 1.使用vue的transition标签结合css样式完成动画
      // 2.利用animate.css结合transition实现动画
      // 3.利用 vue中的钩子函数实现动画
    // 117 vue在created和mounted这两个生命周期中请求数据有什么区别呢？
      // created 里面请求即可，请求响应时间长，应该由你的业务代码去处理这种异常，Vue 的框架层面不知道你的异步请求究竟什么时候结束，不可能等待你的请求回来再继续渲染。
      // 还有一点就是，如果在 mounted 中做一些同步的数据操作，因为此时 DOM 已经挂载完毕，更改数据会让会导致组件重复渲染一次，可以提前到 created 去做。
    // 118 vue父子组件双向绑定的方法有哪些？
      // 自己封装v-model
      // 1.利用对象的引用关系来实现
      // 2.父子组件之间的数据传递
      // 3.使用.sync修饰符
    // 119 vue怎么获取DOM节点？
      // view：v-ref:xxx
      // data：this.$ref.xxx 这样就ok啦
    // 120 vue项目有做过单元测试吗？
    // 121 vue项目有使用过npm run build --report吗？
      // 给 process.env 对象添加了一个属性 npm_config_report: "true"，表示开启编译完成后的报告。
    // 122 如何解决vue打包vendor过大的问题？
      // 1、在webpack.base.conf.js新增externals配置，表示不需要打包的文件，然后在index.html中通过CDN引入
      // externals: {
      //     "vue": "Vue",
      //     "vue-router": "VueRouter",
      //     "vuex": "Vuex",
      //     "element-ui": "ELEMENT",
      //     "BMap": "BMap"
      //   }
      // 2、使用路由懒加载 官网
    // 123 webpack打包vue速度太慢怎么办？
      // 升级webpack4,支持多进程
    // 124 vue在开发过程中要同时跟N个不同的后端人员联调接口（请求的url不一样）时你该怎么办？
      // devServer中把所有的服务人员的地址代理都写进去，
      // 然后动态更改接口的baseUrl，这样切换不同后端人员的时候不用重启
    // 125 vue要做权限管理该怎么做？如果控制到按钮级别的权限怎么做？
      // 如果权限角色是动态的，那么要为每个按钮做标识，根据这个标识去查哪些角色拥有该权限，再根据登录人的权限角色进行显示与否。
    // 126 说下你的vue项目的目录结构，如果是大型项目你该怎么划分结构和划分组件呢？
      // views目录存放一级路由的组件，即视图组件
      // Components目录存放组件
      // Store存放vuex相关文件
      // Router目录存放路由相关文件
      // Untils目录存放工具js文件
      // API目录存放封装好的与后端交互的逻辑
      // Assets存放静态文件
    // 127 在移动端使用vue，你觉得最佳实践有哪些？
      // vant，mint，uniapp
    // 128 你们项目为什么会选vue而不选择其它的框架呢？
      // Vue.js是一个轻巧、高性能、可组件化的MVVM库，同时拥有非常容易上手的API；vue是单页面应用，使页面局部刷新，不用每次跳转页面都要请求所有数据和dom，这样大大加快了访问速度和提升用户体验。而且他的第三方ui库很多节省开发时间。
    // 129 对于即将到来的vue3.0特性你有什么了解的吗？
      // 支持Ts，更合理化。
    // 130 vue开发过程中你有使用什么辅助工具吗？
      // vue-devtools
    // 131 vue和微信小程序写法上有什么区别？
    // 132 怎么缓存当前的组件？缓存后怎么更新？
      // keep-alive
      // 通过actived钩子
    // 133 你了解什么是高阶组件吗？可否举个例子说明下？
    // 134 为什么我们写组件的时候可以写在.vue里呢？可以是别的文件名后缀吗？
      // 也可以写为js,jsx,ts,tsx这种
    // 135 vue-loader是什么？它有什么作用？
      // 解析和转换 .vue 文件，提取出其中的逻辑代码 script、样式代码 style、以及 HTML 模版 template，再分别把它们交给对应的 Loader 去处理。
    // 136 说说你对vue的extend（构造器）的理解，它主要是用来做什么的？
      // extend：创建、复用组件，使用extend时，data选项必须是函数
    // 137 如果将axios异步请求同步化处理？
      // async ,await
    // 138 怎么捕获组件vue的错误信息？
    // 139 为什么vue使用异步更新组件？
      // 避免不必要的计算和dom操作
    // 140 如何实现一个虚拟DOM？说说你的思路
      // 虚拟DOM本身是一个JavaScript对象模拟真实DOM ，用对象的属性去描述一个DOM节点，最终也只是一个真实DOM的映射
    // 141 写出多种定义组件模板的方法?
      // 1、字符串、模板字面量
      // 2、x-template
      // Vue.component('my-checkbox', {
      // template: '#checkbox-template',
      // data() { },
      // });
      // 3、inline-template内联模板

      // Vue.component('my-checkbox', {
      // data() { },
      // });
      // 4、单个文件，xx.vue
    // 142 SPA单页面的实现方式有哪些？
      // 1.监听地址栏中hash变化驱动界面变化
      // 2.用pushsate记录浏览器的历史，驱动界面发送变化
      // 3.直接在界面用普通事件驱动界面变化
      // 它们都是遵循同一种原则：div 的显示与隐藏
    // 143 说说你对SPA单页面的理解，它的优缺点分别是什么？
    // 144 说说你都用vue做过哪些类型的项目？
    // 145 在vue项目中如何引入第三方库（比如jQuery）？有哪些方法可以做到？
    // 146 使用vue手写一个过滤器
    // 147 你有使用过render函数吗？有什么好处？
    // 148 写出你常用的指令有哪些？
    // 149 手写一个自定义指令及写出如何调用
    // 150 组件进来请求接口时你是放在哪个生命周期？为什么？
    // 151 你有用过事件总线(EventBus)吗？说说你的理解
    // 152 说说vue的优缺点分别是什么？
    // 153 DOM渲染在哪个周期中就已经完成了？
    // 154 第一次加载页面时会触发哪几个钩子？
    // 155 vue生命周期总共有几个阶段？
    // 156 vue生命周期的作用是什么？
    // 157 vue和angular有什么区别呢？
    // 158 如何引入scss？引入后如何使用？
    // 159 使用vue开发过程你是怎么做接口管理的？
    // 160 为何官方推荐使用axios而不用vue-resource？
    // 161 你了解axios的原理吗？有看过它的源码吗？
    // 162 你有封装过axios吗？主要是封装哪方面的？
    // 163 如何中断axios的请求？
    // 164 axios是什么？怎样使用它？怎么解决跨域的问题？
    // 165 说说你对vue的template编译的理解？
    // 166 v-on可以绑定多个方法吗？
    // 167 vue常用的修饰符有哪些？列举并说明
    // 168 你认为vue的核心是什么？
    // 169 v-model是什么？有什么用呢？
    // 170 说说你对vue的mixin的理解，有什么应用场景？
    // 171 SPA首屏加载速度慢的怎么解决？
    // 172 删除数组用delete和Vue.delete有什么区别？
    // 173 动态给vue的data添加一个新的属性时会发生什么？怎样解决？
    // 174 组件和插件有什么区别？
    // 175 说说你使用vue过程中遇到的问题（坑）有哪些，你是怎么解决的？
    // 176 说说你对选项el,template,render的理解
    // 177 vue实例挂载的过程是什么？
    // 178 vue在组件中引入插件的方法有哪些？
    // 179 v-if和v-for的优先级是什么？如果这两个同时出现时，那应该怎么优化才能得到更好的性能？
    // 180 分别说说vue能监听到数组或对象变化的场景，还有哪些场景是监听不到的？无法监听时有什么解决方案？
    // 181 $nextTick有什么作用？
    // 182 为什么data属性必须声明为返回一个初始数据对应的函数呢？
    // 183 怎么在watch监听开始之后立即被调用？
    // 184 watch怎么深度监听对象变化？
    // 185 watch和计算属性有什么区别？
    // 186 vue如何监听键盘事件？
    // 187 v-for循环中key有什么作用？
    // 188 怎么在vue中使用插件？
    // 189 你有写过自定义组件吗？
    // 190 说说你对keep-alive的理解是什么？
    // 191 怎么使css样式只在当前组件中生效？
    // 192 你有看过vue的源码吗？如果有那就说说看
    // 193 你有写过自定义指令吗？自定义指令的生命周期（钩子函数）有哪些？
    // 194 v-show和v-if有什么区别？使用场景分别是什么？
    // 195 说说你对MVC、MVP、MVVM模式的理解
    // 196 说下你对指令的理解？
    // 197 请描述下vue的生命周期是什么？
    // 198 vue组件之间的通信都有哪些？
    // 199 什么是虚拟DOM？
    // 200 什么是双向绑定？原理是什么？
    // 201 vue和react有什么不同？使用场景是什么？
    // 202 说说vue的优缺点
    // 203 有使用过vue吗？说说你对vue的理解
  </script>
</body>
</html>